<button (click)='newPost()' class='newPostButton'>New Post</button>

<div *ngIf='form'>
  <form action="./post.component.ts">
    <div class='inputDiv'>
      <input type="text" name='makeSubject' placeholder="Subject" class='subjectInput'>
      <input type="text" name='makePost' placeholder="Message" class='messageInput'>
    </div>
    <div class='submitDiv'>
      <button type='submit' (click)='addPost()'>Submit</button>
      <button type="button" (click)='newPost()'>Cancel</button>
    </div>
  </form>
</div>
<div *ngIf='!form'></div>