<button (click)='newPost()' class='newPostButton'>New Post</button>

<div *ngIf='form'>
  <form>
    <div class='inputDiv'>
      <input [(ngModel)]= "subjectPost" type="text" name='makeSubject' placeholder="Subject" class='subjectInput'>
      <input [(ngModel)]= "bodyPost" type="text" name='makePost' placeholder="Message" class='messageInput'>
    </div>
    <div class='submitDiv'>
      <button type='submit' (click)='onSubmit()'>Submit</button>
      <button type="button" (click)='newPost()'>Cancel</button>
    </div>
  </form>
</div>